.game-detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.title {
    margin: 40px;
    margin-top: 0px;
}

.image {
    height: 420px;
    width: 300px;
    margin : 10px;
}

.sub-content {
    margin-top: 5px;
}

.game-desc {
    width: 300px;
}

.my-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px;
    width: fit-content;
}

.pegi-icon {
    height: 75px;
    width: 60px;
}

.sad {
    margin-top: 20px;
    font-weight: 500;
}