<p>game-detail works!</p>

<div class="game-detail">
    <div>
        {{ game.name }}
    </div>
    <div>
        <img *ngIf="game.image === null" src="/assets/images/games/default.jpg"/>
        <img *ngIf="game.image !== null" src='/assets/images/games/{{game.id}}.jpg' />   
    </div>
    <div>
        {{ game.description }}
    </div>
    <div>
        {{ game.genre.name }}
    </div>
    <div>
        <button mat-button [routerLink]="'/game/'+game.id+'/reviews'">Poster un commentaire</button>
    </div>
</div> -->