game-detail {
    display: flex;
    flex-direction: row;
}

.title {
    margin: 40px;
    margin-top: 0px;
}

.image {
    height: 420px;
    width: 300px;
}

.my-content {
    margin: 0px;
    width: fit-content;
}

.pegi-icon {
    width: 60px;
}