<form [formGroup]="profileForm" (ngSubmit)="formSending()">
    <div>
        <label>Pseudo : </label>
        <input id="pseudo" type="text" name="pseudo" formControlName="pseudo" />
    </div>
    <div *ngIf="!pseudoForm.valid && (pseudoForm.dirty ||pseudoForm.touched)">
        <div [hidden]="!pseudoForm.errors?.['required']" class="error">
            Le Pseudo est requis
        </div>
    </div>
    <div>
        <label>Email : </label>
        <input id="email" type="text" name="email" formControlName="email" />
    </div>
    <div *ngIf="!emailForm.valid && (emailForm.dirty ||emailForm.touched)">
        <div [hidden]="!emailForm.errors?.['required']" class="error">
            L'Email est requis
        </div>
        <div [hidden]="!emailForm.errors?.['email']" class="error">
            L'Email doit respecter le format email
        </div>
    </div>
    <div>
        <label>Password : </label>
        <input id="password" type="password" name="password" formControlName="password" />
    </div>
    <div *ngIf="!passwordForm.valid && (passwordForm.dirty ||passwordForm.touched)">
        <div [hidden]="!passwordForm.errors?.['required']" class="error">
            Le mot de passe est requis
        </div>
        <div [hidden]="!passwordForm.errors?.['minlength']" class="error">
            Le mot de passe doit comporter au moins 6 caractères
        </div>
    </div>
    <div>
        <label>Birthdate : </label>
        <input id="birthdate" type="date" name="birthdate" formControlName="birthdate" />
    </div>
    <div *ngIf="!birthDateForm.valid && (birthDateForm.dirty ||birthDateForm.touched)">
        <div [hidden]="!birthDateForm.errors?.['required']" class="error">
            La date de naissance est requise
        </div>
    </div>
    <input type="submit" value="connexion" [disabled]="!profileForm.valid" />
</form>