<nav class="navbar fixed-top sticky-top navbar-light navbar-expand" style="background-color: ghostwhite;">
    <div class="collapse navbar-collapse navbar-text" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#" class="navbar-brand">
            <img class="logo" src="/assets/logo.png" width="100" height="100%" alt="image" />
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <a routerLink="" class="nav-link" placement="bottom" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Accueil</a>
            </li>
            <li class="nav-item" *ngIf='isLoggedIn'>
                <a routerLink="games" class="nav-link" placement="bottom" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Catalogue</a>
            </li>
            <li class="nav-item" *ngIf='isLoggedIn && !hasModeratorRole'>
                <a class="nav-link" routerLink="reviews/gamer/list" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Mes avis</a>
            </li>

            <li class="nav-item" *ngIf='isLoggedIn && hasModeratorRole'>
                <a class="nav-link" [routerLink]="'/moderator/games'" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Gestion des jeux</a>
            </li>

            <li class="nav-item" *ngIf='isLoggedIn && hasModeratorRole'>
                <a class="nav-link" [routerLink]="'/reviews/moderator/all'" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Gestion des avis</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-item  text-primary" *ngIf='!isLoggedIn'>
                <fa-icon [icon]="['fas', 'user']" size="2x" style="color: red;"></fa-icon>
            </a>
            <a class="nav-item text-primary text-center" *ngIf='isLoggedIn' (click)='onLogout()'>
                <fa-icon [icon]="['fas', 'user']" size="2x" style="color: green;"></fa-icon>
            </a>
        </form>
    </div>
</nav>
