.float-left {
    display: flex;
    left: 30px;
    flex-direction: row;
    gap: 30px;
}

.float-right {
    right: 30px;
    width: fit-content;
}

.profile-picture {
    height: 50px;
    width: 50px;
}



.navbar {
    display: flex;
    /* flex-flow: row wrap; */
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    top: 0;
    position: sticky;
    padding-left: 2%;
    padding-right: 2%;
    height: 80px;
    
}

.logo {
    height: 60px;
    width: 60px;
}

.navbar-light .navbar-nav .nav-link{
    /* font-family: initial; */
    font-weight: bold;
    
}    

/*.navbar-light .navbar-nav .nav-link:hover .active
{
    color : white;
    background-color : #141414;
  border-radius: 50px;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
}*/

a.nav-link.active, a.nav-link:hover{
    color : white !important;
    background-color : #141414;
  border-radius: 50px;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
}