.genre {
    color: aliceblue;
    background-color: rgb(109, 103, 103);
    border: 1px solid black;
    width: fit-content;
    margin: 5px;
}

.card-img {
    width: 200px;
    height: 250px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.bt-details {
    width: fit-content;
    background-color: aqua;
    border: 1px solid rgb(0, 140, 255);
    border-radius: 5px;
}