.login-form {
    width: 50%;
    height: 70%;
    left: 200px;
    top: 15%;
}

.form-group {
    /*margin: 10px;*/
    padding: 10px;
    width: 22%;
    margin: 10px auto;
    color: whitesmoke;
}

.error{
    color: #a94442; /* red */
}

input.ng-valid.ng-touched {
    border-left: 12px solid  #42A948; /* green */
  }

input.ng-invalid.ng-touched {
    border-left: 12px solid  #a94442;
}