<form [formGroup]="profileForm" (ngSubmit)="formSending()">
    <div>
        <label>Pseudo : </label>
        <input id="pseudo" type="text" name="pseudo" formControlName="pseudo" />
    </div>
    <div *ngIf="!pseudoForm.value.valid && (pseudoForm.value.dirty ||pseudoForm.value.touched)">
        <div [hidden]="!pseudoForm.value.errors?.['required']">
            Email is required
        </div>
    </div>

    <div>
        <label>password : </label>
        <input id="password" type="text" name="password" formControlName="password"/>
    </div>
    <div *ngIf="!passwordForm.value.valid && (passwordForm.value.dirty ||passwordForm.value.touched)">
        <div [hidden]="!passwordForm.value.errors?.['required']">
            Password is required
        </div>

    </div>


    <input type="submit" value="connexion" [disabled]="!profileForm.valid" />
    <p>Form value: {{ profileForm.value | json }}</p>
    <p>Form status: {{ profileForm.status | json }}</p>
</form>