<mat-card>
    <mat-card-header>
        <mat-card-title> {{game.name}} </mat-card-title>
    </mat-card-header>
    <img mat-card-image *ngIf="game.image === null" src="/assets/images/games/default.jpg"/>
    <img mat-card-image *ngIf="game.image !== null" src='/assets/images/games/{{game.id}}.jpg' />
    <mat-card-content>
        {{game.description}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="'/games/details/'+game.id">DETAILS</button>
    </mat-card-actions>
</mat-card>